# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment variables
.env

# SQLite database
*.db

# Alembic cache
alembic/versions/__pycache__/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
